<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
<style>
  #container{
    
    width: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img #logo{
  	text-align: center;
  }
  #navbar {
    background: #ccc;
    
  }
  #navbar a{
    float : right;
    right : 200px;
    padding-right: 30px;
    padding-top : 5px;
  }


</style>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>
<body>
  <div id="navbar">
    <a href = "/signin" id="signin-link" data-ajax="false">sign in</a>
  </div>
	<div id="container">
		<img src="./app/assets/logo.png" id="logo" height=300>
		<div id="buttons">

      <input type="submit" value="number of rows" id="numberofrows"/>
			<input type="submit" value="list monsters" id="listmonster"/>
			<a href="/addmonster" data-ajax="false">add monster</a><br>
      <a href="/map" data-ajax="false">Go to Map</a>
		</div>

		<div id="result">

		</div>
	</div>
</body>
<script type="text/javascript">

	$('#listmonster').bind( "click", function(event, ui) {
		// var pathname = window.location.pathname;
		// console.log(document.domain);

		var jsonUrl = "http://pure-gorge-4988.herokuapp.com/monsterlist";
    var array = [];
    var items = [];
		$.getJSON(jsonUrl, function(data) {
			$.each( data.rows, function( key, val ) {
				console.log(key); // index
				console.log(val); // monster
        array.push(val); 
        items.push('<li><strong>' + val.monster + ' : </strong>' 
                      
                     + "<p>latitude : " + val.lat + '</p>'
                     + '<p>longitude : ' + val.lon + '</p></li>');
			});
      $('#result').html('');
      $('#result').append(items.join(''));


		}, 'json');
	});


  $('#numberofrows').bind("click", function(event, ui){
    var jsonUrl = "http://pure-gorge-4988.herokuapp.com/numberofrows";
    // console.log('click');
    // doens't work because the link doesn't send json and im lazy
    $.getJSON(jsonUrl, function(data) {

      var item = '<li>number of rows : <strong>' + data.numberofrows +'</strong></li>' 

      $('#result').html('');
      $('#result').append(item);

    }, 'json');
  });

	  var test = {
  "command": "SELECT",
  "rowCount": 3,
  "oid": null,
  "rows": [
    {
      "lat": -41.288916,
      "lon": 174.767911,
      "monster": "bob"
    },
    {
      "lat": -41.28891,
      "lon": 174.767919,
      "monster": "falafel"
    },
    {
      "lat": -41.285994,
      "lon": 174.776049,
      "monster": ""
    }
  ],
  "fields": [
    {
      "name": "lat",
      "dataTypeID": 701
    },
    {
      "name": "lon",
      "dataTypeID": 701
    },
    {
      "name": "monster",
      "dataTypeID": 25
    }
  ],
  "_parsers": [
    null,
    null,
    null
  ]
}

</script>
</html>